.persona__imagen{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}

.persona__imagen--roberta{
    background-image: url(/assets/img/personas/roberta.jpg);
}

.persona__imagen--marcela{
    background-image: url(/assets/img/personas/marcela.jpg);
}

.persona__imagen--andreia{
    background-image: url(/assets/img/personas/andrea.jpg);
}
